const { NO_CONTENT } = require('http-status-codes');

const NoContentError = class extends Error {
    constructor() {
        super();
        this.status = NO_CONTENT;
    }
};

module.exports = NoContentError;
