const { NO_CONTENT } = require('http-status-codes');

const NoContentError = class extends Error {
    constructor(message) {
        super(message);
        this.status = NO_CONTENT;
    }
};

module.exports = NoContentError;
