const blip_facade = require('../facades/blip-facade');

const HealthCheckController = class {
    async ping(_, res) {
        return res.send(await blip_facade.ping());
    }
};

module.exports = new HealthCheckController();
